ratingAPI/src/main/wsdl/core_rating_poc_52.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Man Chan (McGraw-Hill Companies) --><!--

** OAGIS® Revision: 9.0 **
** Date: 08 April 2005 **
** Copyright 1998-2005, All Rights Reserved **

This is an OAGIS® BOD XML Schema (XSD) Definition.

License information for this file is provided in the file **2005 OAGi License Agreement.txt** that is provided with this download package.

For support, more information, or to report implementation bugs, please contact the Open Applications Group at xml@openapplications.org.

     XML Schema

    Name:
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://integration.standardandpoors.com/ServiceSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:sp="http://integration.standardandpoors.com/ServiceSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="core_rating_poc_7.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_8.xsd"/>
	
	<!---->
	<xsd:complexType name="ContractTriggerDetailSchemaType">
				
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:ID"/>
					<xsd:element minOccurs="0" ref="sp:ShortTermValue"/>
					<xsd:element minOccurs="0" ref="sp:LongTermValue"/>
					<xsd:element minOccurs="0" ref="sp:LevelCode"/>
					<xsd:element minOccurs="0" ref="sp:Primary"/>
				</xsd:sequence>
				<xsd:attribute name="op" use="optional">
			<xsd:annotation>
				<xsd:documentation>Participation flag, which indicates the Operation which need to catered by the Processing Application</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:normalizedString">
					<xsd:enumeration value="CREATE"/>
					<xsd:enumeration value="UPDATE"/>
					<xsd:enumeration value="DELETE"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="ContractTriggerDetail" type="sp:ContractTriggerDetailSchemaType">
	<xsd:annotation>
				<xsd:documentation>Contract Trigger Detail</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
</xsd:schema>