ratingAPI/src/main/wsdl/core_rating_poc_38.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Man Chan (The McGraw-Hill Companies) --><!--

** OAGIS® Revision: 9.0 **
** Date: 08 April 2005 **
** Copyright 1998-2005, All Rights Reserved **

This is an OAGIS® BOD XML Schema (XSD) Definition.

License information for this file is provided in the file **2005 OAGi License Agreement.txt** that is provided with this download package.

For support, more information, or to report implementation bugs, please contact the Open Applications Group at xml@openapplications.org.
    
     XML Schema 
     
    Name: 
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://integration.standardandpoors.com/ServiceSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:sp="http://integration.standardandpoors.com/ServiceSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="core_rating_poc_7.xsd"/>
  <xsd:include schemaLocation="core_rating_poc_8.xsd"/>
  <xsd:include schemaLocation="core_rating_poc_39.xsd"/>
  <!---->
  <xsd:complexType name="CollateralGroupSupportSchemaType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="sp:CollateralGroup"/>
      <xsd:element minOccurs="0" name="SupportAmount" type="oa:AmountType">
        <xsd:annotation>
          <xsd:documentation>The amount of collateral within this collateral group that supports this instrument.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="sp:EffectiveDate"/>
      <xsd:element minOccurs="0" ref="sp:ExpirationDate"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CollateralGroupSupport" type="sp:CollateralGroupSupportSchemaType">
    <xsd:annotation>
      <xsd:documentation>a particular collateral group is used as collateral for a partcular deal or instrument.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>