ratingAPI/src/main/wsdl/core_rating_poc_83.xsd

<?xml version="1.0"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://integration.standardandpoors.com/ServiceSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:sp="http://integration.standardandpoors.com/ServiceSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="core_rating_poc_2.xsd"/>
  <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="core_rating_poc_3.xsd"/>
  <xsd:include schemaLocation="core_rating_poc_63.xsd"/>
  <xsd:complexType name="ShowPrivateRatingsHistoryByWorkObjectIdSchemaType">
    <xsd:complexContent>
      <xsd:extension base="sp:SPBusinessObjectDocumentSchemaType">
        <xsd:sequence>
          <xsd:element name="DataArea" type="sp:ShowPrivateRatingsHistoryByWorkObjectIdDataAreaSchemaType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ShowPrivateRatingsHistoryByWorkObjectIdDataAreaSchemaType">
    <xsd:sequence minOccurs="0">
      <xsd:element minOccurs="0" ref="oa:Show"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" ref="sp:Organization"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ShowPrivateRatingsHistoryByWorkObjectId" type="sp:ShowPrivateRatingsHistoryByWorkObjectIdSchemaType"/>
</xsd:schema>