ratingAPI/src/main/wsdl/core_rating_poc_43.xsd

<?xml version="1.0"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://integration.standardandpoors.com/ServiceSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:sp="http://integration.standardandpoors.com/ServiceSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="core_rating_poc_7.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_44.xsd"/>

	<xsd:complexType name="EvaluationSignOffSchemaType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Analyst" type="sp:AnalystSignOffSchemaType"/>
			<xsd:element minOccurs="0" name="Manager" type="sp:AnalystSignOffSchemaType"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>