ratingAPI/src/main/wsdl/core_rating_poc_12.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Man Chan (McGraw-Hill Companies) --><!--

** OAGIS® Revision: 9.0 **
** Date: 08 April 2005 **
** Copyright 1998-2005, All Rights Reserved **

This is an OAGIS® BOD XML Schema (XSD) Definition.

License information for this file is provided in the file **2005 OAGi License Agreement.txt** that is provided with this download package.

For support, more information, or to report implementation bugs, please contact the Open Applications Group at xml@openapplications.org.
    
     XML Schema 
     
    Name: 
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://integration.standardandpoors.com/ServiceSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:sp="http://integration.standardandpoors.com/ServiceSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="core_rating_poc_7.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_8.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_13.xsd"/>
	<!---->
	<xsd:complexType name="CommitteeSchemaType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:ID"/>
			<xsd:element minOccurs="0" ref="sp:CommitteeTypeCode"/>
			<xsd:element minOccurs="0" name="MeetingDate" type="oa:DateTimeType">
				<xsd:annotation>
					<xsd:documentation>The date on which a committee meeting was held.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" ref="sp:OfficeLocationCode"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="NumberOfMembers" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>EMD 3, CQO 2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="sp:CommitteeMember"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CommitteeMemberSchemaType">
		<xsd:complexContent>
			<xsd:extension base="sp:EmployeeSchemaType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="sp:CommitteeRoleCode"/>
					<xsd:element minOccurs="0" name="Voted" type="xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>flag indicating whether this member voted or not within this committee meeting about this ratings release.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CommitteeMember" type="sp:CommitteeMemberSchemaType"/>
</xsd:schema>