ratingAPI/src/main/wsdl/core_rating_poc_37.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Man Chan (McGraw-Hill Companies) --><!--

** OAGIS® Revision: 9.0 **
** Date: 08 April 2005 **
** Copyright 1998-2005, All Rights Reserved **

This is an OAGIS® BOD XML Schema (XSD) Definition.

License information for this file is provided in the file **2005 OAGi License Agreement.txt** that is provided with this download package.

For support, more information, or to report implementation bugs, please contact the Open Applications Group at xml@openapplications.org.
    
     XML Schema 
     
    Name: 
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://integration.standardandpoors.com/ServiceSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:sp="http://integration.standardandpoors.com/ServiceSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="core_rating_poc_7.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_8.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_32.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_26.xsd"/>
	<!---->
	<xsd:complexType name="ProgramParticipationSchemaType">
		<xsd:complexContent>
			<xsd:extension base="sp:ParticipationSchemaType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="Program" type="sp:ProgramSchemaType">
						<xsd:annotation>
							<xsd:documentation>the participated program</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ProgramParticipation" type="sp:ProgramParticipationSchemaType">
		<xsd:annotation>
			<xsd:documentation>program participated in supporting issues, another instrument or collateral groups.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>