ratingAPI/src/main/wsdl/core_rating_poc_49.xsd

<?xml version="1.0"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://integration.standardandpoors.com/ServiceSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:sp="http://integration.standardandpoors.com/ServiceSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="core_rating_poc_7.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_8.xsd"/>	
	<xsd:include schemaLocation="core_rating_poc_33.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_11.xsd"/>	
	<xsd:complexType name="MunicipalPublishedName">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:ID"/>
			<xsd:element minOccurs="0" ref="sp:Name"/>
			<xsd:element minOccurs="0" ref="sp:Active"/>
			<xsd:element minOccurs="0" ref="sp:DepartmentCode"/>		
			<xsd:element minOccurs="0" ref="sp:GroupCode"/>
			<xsd:element minOccurs="0" ref="sp:IssueTypeCode"/>	
			<xsd:element minOccurs="0" ref="sp:MunicipalCategoryCode"/>
			<xsd:element minOccurs="0" ref="sp:MunicipalSecurityCode"/>	
			<xsd:element minOccurs="0" ref="sp:CommercialPaperTypeCode"/>	
			<xsd:element minOccurs="0" ref="sp:DebtTypeCode"/>						
			<xsd:element minOccurs="0" ref="sp:GrossDebtAmount"/>	
			<xsd:element minOccurs="0" ref="sp:GrossDebtDate"/>		
			<xsd:element minOccurs="0" ref="sp:PriorGrossDebtAmount"/>	
			<xsd:element minOccurs="0" ref="sp:PerCapitaDebt"/>
			<xsd:element minOccurs="0" ref="sp:DebtServiceAmt"/>			
			<xsd:element minOccurs="0" ref="sp:MasterDebtAmt"/>
			<xsd:element minOccurs="0" ref="sp:MasterMpnInd"/>	
			<xsd:element minOccurs="0" ref="sp:SummaryRatingCode"/>
			<xsd:element minOccurs="0" ref="sp:SummaryRatingDate"/>
			<xsd:element minOccurs="0" ref="sp:CreditWatch"/>
			<xsd:element minOccurs="0" ref="sp:CreditOutlook"/>	
			<xsd:element minOccurs="0" ref="sp:Confidential"/>				
		    <xsd:element minOccurs="0" ref="sp:PendingStatusInd"/>				
			<xsd:element minOccurs="0" ref="sp:Taxable"/>
			<xsd:element minOccurs="0" ref="sp:Refunded"/>				
			<xsd:element minOccurs="0" ref="sp:Suspect"/>
			<xsd:element minOccurs="0" ref="sp:InsuredInd"/>
			<xsd:element minOccurs="0" ref="sp:IssuerInd"/>	
			<xsd:element minOccurs="0" ref="sp:VariableText"/>			   		
			<xsd:element minOccurs="0" ref="sp:CommentInd"/>
			<xsd:element minOccurs="0" ref="sp:Comment"/>							
			<xsd:element minOccurs="0" ref="sp:CoverageRate"/>	
			<xsd:element minOccurs="0" ref="sp:TotalMarketPct"/>
			<xsd:element minOccurs="0" ref="sp:RevenueVolatilityRatio"/>				
			<xsd:element minOccurs="0" ref="sp:LastReviewDate"/>	
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Instrument" type="sp:InstrumentSchemaType">
				<xsd:annotation>
					<xsd:documentation>list of instruments belonged to this MPN</xsd:documentation>
				</xsd:annotation>
			</xsd:element>		
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="sp:OrganizationParticipation"/>			
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Rating" type="sp:RatingSchemaType">
				<xsd:annotation>
					<xsd:documentation>MPN Ratings</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Added for SERG Request No: 732 Linked Maturities Enhancement-->
			<xsd:element minOccurs="0" name="LinkedEntities" type="sp:LinkedEntitiesSchemaType"/>									
		</xsd:sequence>
	</xsd:complexType>	
</xsd:schema>