ratingAPI/src/main/wsdl/core_rating_poc_25.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Man Chan (McGraw-Hill Companies) --><!--

** OAGIS® Revision: 9.0 **
** Date: 08 April 2005 **
** Copyright 1998-2005, All Rights Reserved **

This is an OAGIS® BOD XML Schema (XSD) Definition.

License information for this file is provided in the file **2005 OAGi License Agreement.txt** that is provided with this download package.

For support, more information, or to report implementation bugs, please contact the Open Applications Group at xml@openapplications.org.

     XML Schema

    Name:
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://integration.standardandpoors.com/ServiceSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:sp="http://integration.standardandpoors.com/ServiceSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="core_rating_poc_7.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_8.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_10.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_26.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_27.xsd"/>
	<!---->
	<xsd:complexType name="OrganizationParticipationSchemaType">
		<xsd:complexContent>
			<xsd:extension base="sp:ParticipationSchemaType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="Organization" type="sp:OrganizationSchemaType">
						<xsd:annotation>
							<xsd:documentation>the participated organization</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" ref="sp:LiabilityTypeCode"/>
					<xsd:element minOccurs="0" name="MinimumRating">
						<xsd:annotation>
							<xsd:documentation>minimum rating that must be maintained by this organziation in order to continue to provide support</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element ref="sp:RatingTypeCode"/>
								<xsd:element ref="sp:RatingScore"/>
								<xsd:choice minOccurs="0">
									<xsd:element ref="sp:CreditWatch"/>
									<xsd:element ref="sp:CreditOutlook"/>
								</xsd:choice>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="InsurancePolicyNumber" type="xsd:normalizedString">
						<xsd:annotation>
							<xsd:documentation>Policy number if this participant provides an insurance policy. Valid when participation role is Insurance Provider.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="InsuranceCapitalChargePercentage" type="xsd:decimal">
						<xsd:annotation>
							<xsd:documentation>Capital Charge percentage of par if this participant provides an insurance policy.  Valid when participation role is Insurance Provider.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" ref="sp:SwapTypeCode">
						<xsd:annotation>
							<xsd:documentation>type of swap.  Valid when the participation role is Swap Counterparty.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" ref="sp:CoverageTypeCode"/>
					<xsd:element minOccurs="0" name="PrimaryParticipant" type="xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>Is this org billable?</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="AnalystActivity" type="sp:ActivityAnalystSchemaType"/>
					<xsd:element minOccurs="0" ref="sp:DrivingParticipant"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="OrganizationParticipation" type="sp:OrganizationParticipationSchemaType">
		<xsd:annotation>
			<xsd:documentation>organization participated in issuing securities or supporting securities.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>