ratingAPI/src/main/wsdl/core_rating_poc_60.xsd

<?xml version="1.0"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://integration.standardandpoors.com/ServiceSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:sp="http://integration.standardandpoors.com/ServiceSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="core_rating_poc_7.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_8.xsd"/>
	<xsd:complexType name="RatingEntitiesWorkObjectIDsSchemaType">
		<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="1" ref="sp:WorkObjectID"/>
				<xsd:element minOccurs="0" ref="sp:Confidential"/>
				<xsd:element minOccurs="0" ref="sp:WithdrawnRating"/>
				<xsd:element minOccurs="0" ref="sp:CountryCode"/>
				<xsd:element minOccurs="0" name="RatingTypeCodeFilter" type="sp:RatingTypeCodeFilterSchemaType"/>
				<xsd:element minOccurs="0" ref="sp:SourceInd"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RatingTypeCodeFilterSchemaType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" ref="sp:RatingTypeCode"/>
		</xsd:sequence>
		<xsd:attribute name="MatchMode" type="xsd:string"/>
	</xsd:complexType>
</xsd:schema>