ratingAPI/src/main/wsdl/core_rating_poc_51.xsd

<?xml version="1.0"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://integration.standardandpoors.com/ServiceSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:sp="http://integration.standardandpoors.com/ServiceSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="core_rating_poc_7.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_8.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_10.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_26.xsd"/>

	<xsd:complexType name="CounterPartyParticipationSchemaType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oa:ID"/>
			<xsd:element minOccurs="0" name="OrganizationParticipation" type="sp:OrganizationParticipationSchemaType">
				<xsd:annotation>
					<xsd:documentation>the participated organization</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="isParentCounterParty" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Is this org playing the CounterParty Role or Guarantor?</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
			<xsd:attribute name="op" use="optional">
			<xsd:annotation>
				<xsd:documentation>Participation flag, which indicates the Operation which need to catered by the Processing Application</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:normalizedString">
					<xsd:enumeration value="CREATE"/>
					<xsd:enumeration value="UPDATE"/>
					<xsd:enumeration value="DELETE"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="CounterPartyParticipation" type="sp:CounterPartyParticipationSchemaType">
		<xsd:annotation>
			<xsd:documentation>organization participated in issuing securities or supporting support contract.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>