ratingAPI/src/main/wsdl/core_rating_poc_35.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Man Chan (McGraw-Hill Companies) --><!--

** OAGIS® Revision: 9.0 **
** Date: 08 April 2005 **
** Copyright 1998-2005, All Rights Reserved **

This is an OAGIS® BOD XML Schema (XSD) Definition.

License information for this file is provided in the file **2005 OAGi License Agreement.txt** that is provided with this download package.

For support, more information, or to report implementation bugs, please contact the Open Applications Group at xml@openapplications.org.
    
     XML Schema 
     
    Name: 
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://integration.standardandpoors.com/ServiceSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:sp="http://integration.standardandpoors.com/ServiceSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="core_rating_poc_7.xsd"/>
  <xsd:include schemaLocation="core_rating_poc_8.xsd"/>
  <xsd:include schemaLocation="core_rating_poc_33.xsd"/>
  <xsd:include schemaLocation="core_rating_poc_26.xsd"/>
  <!---->
  <xsd:complexType name="InstrumentParticipationSchemaType">
    <xsd:complexContent>
      <xsd:extension base="sp:ParticipationSchemaType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Instrument" type="sp:InstrumentSchemaType">
            <xsd:annotation>
              <xsd:documentation>the participated instrument</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MinimumRating">
            <xsd:annotation>
              <xsd:documentation>minimum rating that must be maintained by this instrument in order to continue to provide support</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="sp:RatingTypeCode"/>
                <xsd:element ref="sp:RatingScore"/>
                <xsd:choice minOccurs="0">
                  <xsd:element ref="sp:CreditWatch"/>
                  <xsd:element ref="sp:CreditOutlook"/>
                </xsd:choice>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" ref="sp:SwapTypeCode">
            <xsd:annotation>
              <xsd:documentation>type of swap.  Valid when the participation role is Swap Counterparty.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InstrumentParticipation" type="sp:InstrumentParticipationSchemaType">
    <xsd:annotation>
      <xsd:documentation>instrument participated in supporting issues, another instrument or collateral groups.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>