ratingAPI/src/main/wsdl/core_rating_poc_1.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Man Chan (McGraw-Hill Companies) --><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://integration.standardandpoors.com/ServiceSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:sp="http://integration.standardandpoors.com/ServiceSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="core_rating_poc_2.xsd"/>
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="core_rating_poc_3.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_5.xsd"/>
	<xsd:complexType name="GetOrgAndInstrRatingsByOrgIdsSchemaType">
		<xsd:complexContent>
			<xsd:extension base="sp:SPBusinessObjectDocumentSchemaType">
				<xsd:sequence>
					<xsd:element name="DataArea" type="sp:GetOrgAndInstrRatingsByOrgIdsDataAreaSchemaType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetOrgAndInstrRatingsByOrgIdsDataAreaSchemaType">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="oa:Get"/>
			<xsd:element maxOccurs="unbounded" ref="sp:OrgAndInstrRatings"/>
			<xsd:element minOccurs="0" ref="sp:RegulatoryIndicatorFlag"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="GetOrgAndInstrRatingsByOrgIds" type="sp:GetOrgAndInstrRatingsByOrgIdsSchemaType"/>
</xsd:schema>