ratingAPI/src/main/wsdl/core_rating_poc_6.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2008 rel. 2 sp1 (http://www.altova.com) by Kevin  Si (The McGraw-Hill Companies) --><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://integration.standardandpoors.com/ServiceSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:sp="http://integration.standardandpoors.com/ServiceSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="core_rating_poc_7.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_8.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_9.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_11.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_32.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_10.xsd"/>
	<xsd:complexType name="OrgAndInstrRatingsSchemaType">
		<xsd:annotation>
			<xsd:documentation>This is created to improve performance when getting org, issue and program ratings for orgs which are group by their debt type, rating type, rating and few other attributes in RPM application</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Organization" type="sp:OrganizationSchemaType"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="RatingGroup" type="sp:RatingGroupSchemaType"/>
			<xsd:element minOccurs="0" ref="sp:ExcludePGMandInstrument"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RatingGroupSchemaType">
		<xsd:annotation>
			<xsd:documentation>This is for grouping issue and programing rating by  their debt type, rating type, rating and few other attributes</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="sp:RatingGroupCount"/>
			<xsd:element minOccurs="0" name="Rating" type="sp:RatingSchemaType"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Issue" type="sp:IssueSchemaType"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Program" type="sp:ProgramSchemaType"/>
			<xsd:element minOccurs="0" ref="sp:IsMultiDepts"/>
			<xsd:element minOccurs="0" ref="sp:IsEnhanced"/>
			<xsd:element minOccurs="0" ref="sp:IsCoveredBond"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>