ratingAPI/src/main/wsdl/core_rating_poc_14.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Man Chan (The McGraw-Hill Companies) --><!--

** OAGIS® Revision: 9.0 **
** Date: 08 April 2005 **
** Copyright 1998-2005, All Rights Reserved **

This is an OAGIS® BOD XML Schema (XSD) Definition.

License information for this file is provided in the file **2005 OAGi License Agreement.txt** that is provided with this download package.

For support, more information, or to report implementation bugs, please contact the Open Applications Group at xml@openapplications.org.
    
     XML Schema 
     
    Name: 
--><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://integration.standardandpoors.com/ServiceSchema" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:sp="http://integration.standardandpoors.com/ServiceSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="core_rating_poc_7.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_8.xsd"/>
	<xsd:include schemaLocation="core_rating_poc_13.xsd"/>
	<!---->
	<xsd:complexType name="AnalystSchemaType">
		<xsd:complexContent>
			<xsd:extension base="sp:EmployeeSchemaType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="sp:AnalystRoleCode"/>
					<xsd:element minOccurs="0" ref="sp:AnalystPhoneNumber"/>
					<xsd:element minOccurs="0" ref="sp:AnalystRoleName"/>
					<xsd:element minOccurs="0" ref="sp:SurveillanceAnalystPhoneNumber"/>
					<xsd:element minOccurs="0" ref="sp:AnalystTypeCode"/>
					<xsd:element minOccurs="0" ref="sp:AnalystDate"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IndividualParticipantSchemaType">
		<xsd:complexContent>
			<xsd:extension base="sp:EmployeeSchemaType">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="sp:WorkRoleCode"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="IndividualParticipant" type="sp:IndividualParticipantSchemaType"/>
</xsd:schema>